<div>
  <app-tab-item marginTop="3%" label="Nombre completo">
    <app-saet-input
      testId="input_nombre_completo"
      [value]="formData.nombreCompleto"
      (inputChange)="onInputChange($event, 'nombreCompleto')"
      name="input_nombre_completo"
    />
  </app-tab-item>

  <app-tab-item marginTop="3%" label="Edad">
    <app-saet-input
      testId="input_edad"
      (inputChange)="onInputChange($event, 'edad')"
      [value]="formData.edad"
      name="input_edad"
    />
  </app-tab-item>

  <app-tab-item marginTop="3%" label="Parentesco">
    <app-saet-input
      testId="input_parentesco"
      [value]="formData.parentesco"
      (inputChange)="onInputChange($event, 'parentesco')"
      name="input_parentesco"
    />
  </app-tab-item>

  <app-tab-item marginTop="3%" label="Nivel educativo">
    <app-saet-input
      testId="input_nivel_educativo"
      [value]="formData.nivelEducativo"
      (inputChange)="onInputChange($event, 'nivelEducativo')"
      name="input_nivel_educativo"
    />
  </app-tab-item>

  <app-tab-item marginTop="3%" label="Ocupacion:">
    <app-saet-input
      testId="input_ocapacion"
      [value]="formData.ocupacion"
      (inputChange)="onInputChange($event, 'ocupacion')"
      name="input_ocapacion"
    />
  </app-tab-item>
  <app-saet-underlined-title />
  <div
    style="
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 25px;
    "
  >
    <app-saet-button
      [buttonArgs]="{
        buttonIcon: IconComponent.PLUS,
        buttonStyle: ButtonStyle.WHITE,
        text: 'Agregar miembros familiares'
      }"
      [disabled]="!canAdd"
      (onClick)="agregarMiembroFamiliar($event)"
    />
  </div>

  <p-table data-testid="table-information" [columns]="columns" [value]="data">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData>
      <tr>
        <td>
          {{ rowData['nombreCompleto'] }}
        </td>
        <td>
          {{ rowData['nivelEducativo'] }}
        </td>
        <td>
          {{ rowData['ocupacion'] }}
        </td>
        <td>
          <app-saet-button
            [buttonArgs]="{
              text: '',
              buttonStyle: ButtonStyle.BLUE,
              buttonIcon: IconComponent.CLOSE
            }"
            [disabled]="!canDelete"
            (onClick)="eliminarMiembroFamiliar($event, rowData)"
          />
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
