<div>
  <!-- Entradas ----------------------------------------------------- -->
  <app-tab-item marginTop="3%" label="Nombre completo">
    <app-saet-input
      testId="input_nombre_completo"
      [value]="formData.nombreCompleto"
      (inputChange)="onInputChange($event, 'nombreCompleto')"
      name="input_nombre_completo"
    />
  </app-tab-item>

  <app-tab-item marginTop="3%" label="Edad">
    <app-saet-input
      testId="input_edad"
      [value]="formData.edad"
      (inputChange)="onInputChange($event, 'edad')"
      name="input_edad"
    />
  </app-tab-item>

  <app-tab-item marginTop="3%" label="Parentesco">
    <app-saet-input
      testId="input_parentesco"
      [value]="formData.parentesco"
      (inputChange)="onInputChange($event, 'parentesco')"
      name="input_parentesco"
    />
  </app-tab-item>

  <app-tab-item marginTop="3%" label="Nivel educativo">
    <app-saet-input
      testId="input_nivel_educativo"
      [value]="formData.nivelEducativo"
      (inputChange)="onInputChange($event, 'nivelEducativo')"
      name="input_nivel_educativo"
    />
  </app-tab-item>

  <app-tab-item marginTop="3%" label="Ocupación">
    <app-saet-input
      testId="input_ocupacion"
      [value]="formData.ocupacion"
      (inputChange)="onInputChange($event, 'ocupacion')"
      name="input_ocupacion"
    />
  </app-tab-item>

  <!-- Botón agregar ------------------------------------------------ -->
  <div class="mt-4 flex justify-end">
    <app-saet-button
      [buttonArgs]="{
        buttonIcon: IconComponent.PLUS,
        buttonStyle: ButtonStyle.WHITE,
        text: 'Agregar miembro familiar'
      }"
      [disabled]="!canAdd"
      (onClick)="agregarMiembroFamiliar()"
    />
  </div>

  <!-- Tabla -------------------------------------------------------- -->
  <p-table data-testid="table-information" [columns]="columns" [value]="data">
    <ng-template pTemplate="header" let-cols>
      <tr>
        <th *ngFor="let col of cols">{{ col.header }}</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-row>
      <tr>
        <td>{{ row.nombreCompleto }}</td>
        <td>{{ row.edad }}</td>
        <td>{{ row.parentesco }}</td>
        <td>{{ row.nivelEducativo }}</td>
        <td>{{ row.ocupacion }}</td>
        <td>
          <app-saet-button
            [buttonArgs]="{
              text: '',
              buttonStyle: ButtonStyle.BLUE,
              buttonIcon: IconComponent.CLOSE
            }"
            (onClick)="eliminarMiembroFamiliar(row)"
          />
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
