<app-saet-tab [readOnly]="readOnly" [leyend]="leyend">
  <p-tabView>
    <p-tabPanel header="Agendar perfil">
      <div *ngIf="!agendado">
        <div class="flex wrap margin-top">
          <div class="first-column">
            <label class="first-item">Fecha de evaluación:</label>
            <div class="second-item">
              <p-calendar
                [disabled]="readOnly"
                [showIcon]="true"
                dateFormat="dd/mm/yy"
                (onSelect)="onFechaPerfilSelect($event)"
              >
              </p-calendar>
            </div>
          </div>
          <div class="second-column">
            <label class="first-item">Hora de evaluación:</label>
            <div class="second-item-time">
              <p-calendar
                inputId="calendar-timeonly"
                [disabled]="readOnly"
                (onSelect)="onHoraPerfilSelect($event)"
                [timeOnly]="true"
                [ngModel]="profileTime"
                (ngModelChange)="onHoraPerfilChange($event)"
              />
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="agendado">
        <app-tab-item
          marginTop="3%"
          label="Especialista responsable de agendar"
        >
          <app-saet-input
            [disabled]="true"
            [value]="especialistaAgendado.nombreCompleto"
          />
          <div>
            <app-tab-item label="">
              {{
                especialistaAgendado.dui !== null &&
                especialistaAgendado.dui !== ''
                  ? especialistaAgendado.dui + ' |'
                  : 'Nº dui no disponible | '
              }}
              Evaluador
              {{ especialidad ? getSpecialistLabel(especialidad) : '' }} - COR
            </app-tab-item>
          </div>
        </app-tab-item>
      </div>

      <div *ngIf="!agendado">
        <div class="actionsButton">
          <div></div>
          <div class="right-buttons">
            <app-saet-button
              (onClick)="agendar()"
              [disabled]="readOnly"
              [buttonArgs]="{
                buttonIcon: buttonIcon.EYE,
                buttonStyle: buttonStyle.BLUE,
                text: 'Agendar perfil'
              }"
            />
          </div>
        </div>
      </div>
      <div *ngIf="agendado">
        <div
          style="
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-top: 3%;
          "
        >
          <div></div>
          <div class="right-buttons">
            <div style="display: flex">
              <span
                data-testId="btn-clean"
                class="link-text"
                (click)="cancelar()"
                >Cancelar agenda</span
              >
            </div>
            <app-saet-button
              (onClick)="iniciar()"
              [disabled]="readOnly"
              [buttonArgs]="{
                buttonIcon: buttonIcon.PLUS,
                buttonStyle: buttonStyle.WHITE,
                text: 'Iniciar perfil'
              }"
            />
          </div>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Agendar evaluación">
      <div *ngIf="!agendadoEvaluacion">
        <div class="flex wrap margin-top">
          <div class="first-column">
            <label class="first-item">Fecha de evaluación:</label>
            <div class="second-item">
              <p-calendar
                [disabled]="readOnlyEvaluacion"
                [showIcon]="true"
                dateFormat="dd/mm/yy"
                (onSelect)="onFechaPerfilSelect($event)"
              >
              </p-calendar>
            </div>
          </div>
          <div class="second-column">
            <label class="first-item">Hora de evaluación:</label>
            <div class="second-item-time">
              <p-calendar
                inputId="calendar-timeonly"
                [disabled]="readOnly"
                (onSelect)="onHoraPerfilSelect($event)"
                [timeOnly]="true"
                [ngModel]="profileTime"
                (ngModelChange)="onHoraPerfilChange($event)"
              />
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!agendado">
        <div class="actionsButton">
          <div></div>
          <div class="right-buttons">
            <app-saet-button
              (onClick)="agendarEvaluacion()"
              [disabled]="readOnly"
              [buttonArgs]="{
                buttonIcon: buttonIcon.PLUS,
                buttonStyle: buttonStyle.WHITE,
                text: 'Agendar evaluacion'
              }"
            />
          </div>
        </div>
      </div>
      <div *ngIf="agendadoEvaluacion"></div>

      <!--      <app-saet-agendar-evaluacion [readOnly]="readOnly" />-->
    </p-tabPanel>
  </p-tabView>
</app-saet-tab>
