<app-saet-tab [readOnly]="readOnly" [leyend]=leyend>
  <p-tabView>
    <p-tabPanel header="Agendar perfil">
          <div *ngIf="!agendado">
            <div class="flex wrap margin-top">
              <div class="first-column">
                <label class="first-item">Fecha de evaluación:</label>
                <div class="second-item">
                  <p-calendar
                    [disabled]="readOnly"
                    [showIcon]="true"
                    dateFormat="dd/mm/yy">
                  </p-calendar>
                </div>
          </div>
              <div class="second-column">

            <label class="first-item">Hora de evaluación:</label>
            <div class="second-item-time">
              <p-calendar inputId="calendar-timeonly" [timeOnly]="true" />
            </div>
          </div>
          </div>
      </div>

      <div *ngIf="agendado">
        Especialista responsable de agendar
        <app-saet-input />
      </div>

      <div *ngIf="!agendado">
        <div class="actionsButton">
          <div></div>
          <div class="right-buttons">
            <app-saet-button (onClick)="agendar()" [disabled]="readOnly"
              [buttonArgs]="{buttonIcon: 1,buttonStyle: 0, text: 'Agendar perfil'}" />
          </div>
        </div>
      </div>
      <div *ngIf="agendado">
        <div class="actionsButton">
          <div></div>
          <div class="right-buttons">
            <span data-testId="btn-clean" class="link-text" (click)="cancelar()">Cancelar agenda</span>
            <app-saet-button enab (onClick)="iniciar()"
              [buttonArgs]="{buttonIcon: 1,buttonStyle: 0, text: 'Iniciar evaluación'}" />
          </div>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Agendar evaluación">
      <div>
        <app-tab-item
          label="Especialista responsable de agendar:"
        >
          <app-saet-input
            value="Francisca Eunice López Orellana"
            [disabled]="true"
          />
        </app-tab-item>
        <app-tab-item
          label=""
        >
          02546679-0 | Especialista en psicologia - COR
        </app-tab-item>
      </div>

      <div>
        <app-tab-item
          label="Especialista responsable de realizar evaluación:"
        >
          <app-saet-input
            value="Francisca Eunice López Orellana"
            [disabled]="true"
          />
        </app-tab-item>
        <app-tab-item
          label=""
        >
          02546679-0 | Especialista en psicologia - COR
        </app-tab-item>
      </div>

      <app-saet-underlined-title />

      <div class="flex wrap margin-top">

        <div class="first-column">
          <label class="first-item">Fecha de evaluación:</label>
          <div class="second-item">
            <p-calendar
              [disabled]="readOnly"
              [showIcon]="true"
              dateFormat="dd/mm/yy">
            </p-calendar>
          </div>
        </div>
        <div class="second-column">
          <label class="first-item">Hora de evaluación:</label>
          <div class="second-item-time">
            <p-calendar inputId="calendar-timeonly" [timeOnly]="true" />
          </div>
        </div>

      </div>

      <div>
        <app-saet-button
        [buttonArgs]="{
          buttonIcon: buttonIcon.PLUS,
          buttonStyle: buttonStyle.WHITE,
          text: 'Agregar otra evaluación'
        }"

        />
        <app-saet-button
        [buttonArgs]="{
          buttonIcon: buttonIcon.EYE,
          buttonStyle: buttonStyle.WHITE,
          text: 'Ver evaluación'
        }"
        />
      </div>
    </p-tabPanel>
  </p-tabView>
</app-saet-tab>
