
.agendado-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  margin-top: 2%;
}

.agendado-tiempo {
  flex: 1 1 0;            /* <= se estira y ocupa el espacio disponible */
  min-width: 180px;       /* opcional: evita que se haga muy pequeña */
  display: flex;
  flex-direction: row; /* label arriba, input abajo */
}

.agendado-tiempo app-saet-input {
  width: 100%;
}

.agendado-label {
  font-weight: 600; margin-right: .25rem; min-width: 200px;
  display: flex;
  align-items: center;
}
.agendado-sub   { font-size: .75rem; color: var(--gray-500); }

.right-buttons  { display: flex; gap: .75rem; align-items: center; }
.full-width     { width: 100%; }

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.fieldset-auto-width {
  display: inline-block;
}

.actionsButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-buttons {
  display: flex;
  gap: 60px;
  align-items: center;
}

.margin-top {
  margin-top: 2%;
}

.first-column {
  flex: 1 1 50%;
  display: flex;
  align-items: center;
}

.first-item {
  flex: 0 0 35%;
  text-align: right;
  margin-right: 10px;
}

.second-column {
  flex: 1 1 50%;
  display: flex;
  align-items: center;
}

.second-item {
  width: 200px;
}

.link-text {
  cursor: pointer;
  user-select: none;
  text-decoration: underline;
  color: #00498d;
  vertical-align: middle;
}

::ng-deep .second-item-time .p-calendar {
  width: 300px;
}

.read-only .agendaBody {
  /*background: #dee2e6;*/
}

@media screen and (max-width: 1920px) {
  .actionsButton {
    padding-right: 7.7em;
    padding-top: 10px;
  }
}

@media screen and (max-width: 1600px) {
  .actionsButton {
    padding-right: 2.5em;
    padding-top: 10px;
  }

  ::ng-deep .second-item-time .p-calendar {
    width: 295px;
  }
}

@media (min-width: 1000px) and (max-width: 1440px) {
  .actionsButton {
    padding-right: 0em;
    padding-top: 10px;
  }

  ::ng-deep .second-item-time .p-calendar {
    width: 295px;
  }
}

@media screen and (max-width: 500px) {
  .first-column {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .second-column {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  ::ng-deep .second-item-time .p-calendar {
    width: 200px;
  }

  .actionsButton {
    padding-right: 65px;
    padding-top: 10px;
  }
}
