.form-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 1%;
}
.container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-radius: 0px;
  align-items: center;
}
.bodyMessage {
  display: flex;
  flex-direction: column;
}
.title {
  font-weight: bold;
}

.bg-green {
  background: #dfedc9;
}

.bg-red {
  background-color: #edc9c9;
}
.bg-yellow {
  background-color: #f2f2c9;
}
