<div style="width: 100%">
  <p-tabView (onChange)="onTabChange($event)">
    <p-tabPanel header="Informe cualitativo"> </p-tabPanel>
    <p-tabPanel header="Informe cuantitativo" [selected]="true">
      <div style="display: flex; gap: 25px; margin-bottom: 25px">
        <app-saet-tarjeta-informe
          [numero]="3"
          titulo="Total de miembros"
          descripcion="Centro de Orientación y Recursos (COR)"
          [style]="style.BLUE"
        />
        <app-saet-tarjeta-informe
          [numero]="15"
          titulo="Total de miembros"
          descripcion="Docente de Apoyo a la Inclusion (DAI)"
        />
      </div>

      <div style="display: flex; flex-direction: column; gap: 20px">
        <h2 class="title">Datos generales a nivel nacional</h2>
        <div class="graphics-container">
          <div class="filters-parent-div">
            <div style="flex: 2">
              <fieldset style="border: 1px solid #ccc; padding: 10px">
                <legend style="font-weight: bold">Geografía</legend>
                <div class="filter-container">
                  <div class="filter-cell">
                    <label>Zonas</label>
                    <p-dropdown
                      [options]="zones"
                      id="zona-global"
                      optionLabel="zone_nombre"
                      placeholder="Selecciona"
                      optionValue="zone_codigo"
                    />
                  </div>
                  <div class="filter-cell">
                    <label>Centro Educativo</label>
                    <p-dropdown
                      [options]="[]"
                      id="centro-educativo-global"
                      optionLabel="centro_label"
                      placeholder="Selecciona"
                      optionValue="centro_value"
                    />
                  </div>
                  <div class="filter-cell">
                    <label>Sexo</label>
                    <p-dropdown
                      [options]="sexs"
                      id="sexo-global"
                      optionLabel="sex_nombre"
                      placeholder="Selecciona"
                      optionValue="sex_codigo"
                    />
                  </div>
                  <div class="filter-cell">
                    <label>Departamento</label>
                    <p-dropdown
                      [options]="cities"
                      id="departamento-global"
                      (onChange)="onGlobalDepartmentChange($event)"
                      optionLabel="nombre_departamento"
                      placeholder="Selecciona departamento"
                      optionValue="codigo_departamento"
                    />
                  </div>
                  <div class="filter-cell">
                    <label>Grado</label>
                    <p-dropdown
                      [options]="[]"
                      id="grado-global"
                      optionLabel="centro_label"
                      placeholder="Selecciona"
                      optionValue="centro_value"
                    />
                  </div>
                </div>
              </fieldset>
            </div>

            <!-- Sección de Período de tiempo -->
            <div style="flex: 1">
              <fieldset style="border: 1px solid #ccc; padding: 10px">
                <legend style="font-weight: bold">Período de tiempo</legend>
                <div style="display: flex; flex-direction: column; gap: 10px">
                  <div class="periodo-tiempo-row">
                    <label for="desde" class="periodo-tiempo-label"
                      >Desde:</label
                    >
                    <p-calendar
                      id="desde"
                      [showIcon]="true"
                      dateFormat="dd/mm/yy"
                      styleClass="periodo-tiempo-input"
                    >
                    </p-calendar>
                  </div>
                  <div class="periodo-tiempo-row">
                    <label for="hasta" class="periodo-tiempo-label"
                      >Hasta:</label
                    >
                    <p-calendar
                      id="hasta"
                      [showIcon]="true"
                      dateFormat="dd/mm/yy"
                      styleClass="periodo-tiempo-input"
                    >
                    </p-calendar>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
        <div class="graphics-container">
          <div class="graphic-container">
            <h3>Caracterizaciones por departamentos</h3>
            <app-saet-grafica-pastel
              [single]="[
                { name: 'Ahuachapán', value: 15 },
                { name: 'Usulután', value: 13 },
                { name: 'Sonsonate', value: 8 },
                { name: 'Cuscatlán', value: 3 },

                { name: 'La Paz', value: 3 },
                { name: 'La Unión', value: 3 },
                { name: 'La Libertad', value: 3 },
                { name: 'San Vicente', value: 3 },
                { name: 'Morazán', value: 3 },
                { name: 'San Miguel', value: 3 },
                { name: 'San Salvador', value: 3 },
                { name: 'Santa Ana', value: 3 },
                { name: 'Chalatenango', value: 3 },
                { name: 'Cabañas', value: 3 }
              ]"
            />
            <div class="radios">
              <div>
                <app-saet-individual-radio
                  name="caracterizaciones-departamento"
                  value="1"
                  label="Realizadas"
                />
              </div>
              <div>
                <app-saet-individual-radio
                  name="caracterizaciones-departamento"
                  value="1"
                  label="En proceso"
                />
              </div>
              <div>
                <app-saet-individual-radio
                  name="caracterizaciones-departamento"
                  value="1"
                  label="Programadas"
                />
              </div>
            </div>
          </div>
          <div class="graphic-container">
            <h3>Evaluaciones por departamentos</h3>
            <app-saet-grafica-barras
              [single]="[
                { name: 'La Paz', value: 30 },
                { name: 'Cuscatlán', value: 40 },
                { name: 'Morazán', value: 40 },
                { name: 'La Unión', value: 50 },
                { name: 'Santa Ana', value: 60 },
                { name: 'San Vicente', value: 50 },
                { name: 'San Miguel', value: 50 },
                { name: 'Chalatenango', value: 30 },
                { name: 'Cabañas', value: 50 },
                { name: 'Sonsonate', value: 60 },
                { name: 'La Libertad', value: 60 },
                { name: 'San Salvador', value: 80 }
              ]"
              [mode]="direction.LANDSCAPE"
            />
            <div class="radios">
              <div>
                <app-saet-individual-radio
                  name="evaluaciones-departamento"
                  value="1"
                  label="Realizadas"
                />
              </div>
              <div>
                <app-saet-individual-radio
                  name="evaluaciones-departamento"
                  value="1"
                  label="En proceso"
                />
              </div>
              <div>
                <app-saet-individual-radio
                  name="evaluaciones-departamento"
                  value="1"
                  label="Programadas"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="graphics-container">
          <div class="graphic-container">
            <h3>Alcance por departamento</h3>
            <app-saet-grafica-pastel
              [single]="[
                { name: 'Ahuachapán', value: 15 },
                { name: 'Usulután', value: 13 },
                { name: 'Sonsonate', value: 8 },
                { name: 'Cuscatlán', value: 3 },

                { name: 'La Paz', value: 3 },
                { name: 'La Unión', value: 3 },
                { name: 'La Libertad', value: 3 },
                { name: 'San Vicente', value: 3 },
                { name: 'Morazán', value: 3 },
                { name: 'San Miguel', value: 3 },
                { name: 'San Salvador', value: 3 },
                { name: 'Santa Ana', value: 3 },
                { name: 'Chalatenango', value: 3 },
                { name: 'Cabañas', value: 3 }
              ]"
            />
            <div style="display: flex; flex-direction: column; gap: 5px">
              <div class="flex-center filter-input" style="">
                <div class="filter-cell">
                  <div class="filter-label">Departamentos</div>
                  <p-dropdown
                    [options]="cities"
                    optionLabel="nombre_departamento"
                    placeholder="Selecciona departamento"
                    optionValue="nombre_departamento"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="graphic-container">
            <h3>Usuarios inscritos por departamento</h3>
            <app-saet-grafica-barras
              [mode]="direction.VERTICAL"
              [single]="[
                { name: 'ENE', value: 20 },
                { name: 'FEB', value: 30 },
                { name: 'MAR', value: 25 },
                { name: 'ABR', value: 40 },
                { name: 'MAY', value: 50 },
                { name: 'JUN', value: 70 },
                { name: 'JUL', value: 60 },
                { name: 'AGO', value: 65 },
                { name: 'SEP', value: 55 },
                { name: 'OCT', value: 70 },
                { name: 'NOV', value: 75 },
                { name: 'DIC', value: 80 }
              ]"
            />
            <div style="display: flex; flex-direction: column; gap: 5px"></div>
          </div>
        </div>
        <div class="graphics-container">
          <div class="graphic-container">
            <h3>Casos abordados</h3>
            <app-saet-grafica-linear
              [view]="[1024, 300]"
              [multi]="filteredCasosAbordadosData"
            />

            <div class="flex-center filter-input" style="">
              <div class="filter-cell">
                <div class="filter-label">Departamentos</div>
                <p-dropdown
                  [options]="cities"
                  id="casos-abordados"
                  (onChange)="onCasesChange($event)"
                  optionLabel="nombre_departamento"
                  placeholder="Selecciona departamento"
                  optionValue="codigo_departamento"
                  [ngModel]="selectedGraphics.casos"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Informe Trimestral COR"> </p-tabPanel>
  </p-tabView>
</div>
