.trimestre-box {
  height: 100px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s;
  flex-grow: 1;
}
.disabled-trimester {
  pointer-events: none;
  opacity: 0.5;
}

.trimestre-box:hover {
  background-color: #f0f0f0;
}

.selected-trimester {
  background-color: #00498d;
  color: white;
  border-color: #00498d;
}


.mt-2 {
  margin-top: 35px;
}

.mb-2 {
  margin-bottom: 35px;
}
.parent-rich {
  padding-left: 85px;
}
.container-rich {
  padding-left: 55px;
  margin-top: 25px;
}


.form-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 90%;
  margin: 3% auto 0;
  margin-top: 1%;
}

.divInforme {
  margin-top: 2%;
}
.divInforme h3 {
  font-size: 28px;
}
.divInforme a {
  text-decoration: none;
}
.barra-colores {
  display: flex;
  height: 5px;
}

.barra-colores div {
  flex: 1;
}

.barra-colores div:nth-child(1) {
  background-color: #8cc63f;
}

.barra-colores div:nth-child(2) {
  background-color: #f1c40f;
}

.barra-colores div:nth-child(3) {
  background-color: #be2857;
}

.barra-colores div:nth-child(4) {
  background-color: #29abe2;
}

.selectedOption {
  font-weight: bold;
  border-bottom: solid 3px black;
}

.titlePage {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 90%;
  margin: 3% auto 0;
  margin-bottom: 1%;
  font-weight: bold;
}

.title {
  font-weight: bold;
  margin-bottom: 5px;
}

app-saet-input {
  width: 100%;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 3%;
}

.table-container {
  margin-top: 5%;
}

app-saet-button {
  min-width: 80px;
}

.clear-text {
  cursor: pointer;
  /* Hace que el texto parezca clickable */
  user-select: none;
  /* Evita que el texto pueda ser seleccionado */
  text-decoration: underline;
  color: #00498d;
  height: 47px;
  width: 147px;
  background-color: white;
  border-style: none;
}
.actionsButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
