<div class="form-container divInforme">
  <div>
    <a class="selectedOption" href="#/menu/saet-informe">
      Informe Trimestral COR
    </a>
  </div>
</div>
<app-saet-loading [isLoading]="pageLoading" />

<div class="form-container">
  <p class="title">Escribe el NIE del estudiante.</p>
  <app-saet-input
    testId="input-nie"
    [inputArgs]="{ text: inputNIE }"
    [value]="inputNIE"
    [disabled]="showTable"
    (inputChange)="onInputNIEChange($event)"
  />
  <div class="button-container">
    <app-saet-button
      testId="btn-buscar"
      [buttonArgs]="{
        text: 'Buscar',
        buttonStyle: btnStyle.BLUE,
        buttonIcon: IconComponent.SEARCH
      }"
      (click)="toggleTable()"
      [disabled]="showTable"
    />
    <button data-testId="btn-clean" class="clear-text" (click)="cleanInput()">
      limpiar búsqueda
    </button>
  </div>
  <app-saet-underlined-title *ngIf="showTable">
    <div style="display: flex; flex-direction: row">
      <div style="font-weight: bold; width: 300px">Resultado(s):</div>
      <div>{{ cnResult }} elemento(s)</div>
    </div>
  </app-saet-underlined-title>

  <app-saet-mensaje-usuario
    [show]="userMessage.showMessage"
    [message]="userMessage.message"
    [title]="userMessage.titleMessage"
    [messageType]="userMessage.type"
  />
</div>

<div *ngIf="showTable" class="form-container">
  <div class="mt-2">
    <app-tabs legend="1. Estudiantes atendidos">
      <app-saet-underlined-title>
        Informe trimestral de estudiantes atendidos en el COR
      </app-saet-underlined-title>
      <p-table
        data-testid="served-students"
        [columns]="[
          { key: 'number', header: 'Nº' },
          { key: 'tableHeaderStudentName', header: 'Nombre estudiante' },
          { key: 'tableHeaderStudentSex', header: 'Sexo' },
          { key: 'tableHeaderStudentAge', header: 'Edad' },
          { key: 'tableHeaderStudentGrade', header: 'Grado' },
          {
            key: 'tableHeaderStudentSchool',
            header: 'Centro educativo de procedencia'
          },
          { key: 'tableHeaderStudentCity', header: 'Municipio' },
          {
            key: 'tableHeaderStudentIssue',
            header: 'Dificultad que representa'
          }
        ]"
        [value]="tableData"
      >
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{ col.header }}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
          <tr>
            <td>
              {{ rowData['number'] }}
            </td>
            <td>
              {{ rowData['tableHeaderStudentName'] }}
            </td>
            <td>
              {{ rowData['tableHeaderStudentSex'] }}
            </td>
            <td>
              {{ rowData['tableHeaderStudentAge'] }}
            </td>
            <td>
              {{ rowData['tableHeaderStudentGrade'] }}
            </td>
            <td>
              {{ rowData['tableHeaderStudentSchool'] }}
            </td>
            <td>
              {{ rowData['tableHeaderStudentCity'] }}
            </td>
            <td>
              {{ rowData['tableHeaderStudentIssue'] }}
            </td>
            <!--            <td>-->
            <!--              <div style="display: flex; flex-direction: Column; gap: 10px">-->
            <!--                <app-saet-individual-radio label="Entregado" />-->
            <!--                <app-saet-individual-radio label="Pendiente" />-->
            <!--              </div>-->
            <!--            </td>-->
          </tr>
        </ng-template>
      </p-table>
    </app-tabs>
  </div>
  <div class="mt-2">
    <app-tabs legend="2. Dificultades de aprendizaje">
      <app-saet-underlined-title>
        La descripción con base a los resultados de las pruebas aplicadas.
      </app-saet-underlined-title>

      <div class="mt-2 mb-2 parent-rich">
        <span
          >Los problemas más comunes son dificultades de aprendizaje, de
          escritura - lectura y matemática.</span
        >
        <div class="container-rich">
          <app-richtext
            testId="richtext_1"
            name="richtext_1"
            [value]="values['richtext_1']"
            (inputChange)="onInputChange($event)"
          />
        </div>
      </div>

      <app-saet-underlined-title></app-saet-underlined-title>
      <div class="mt-2 mb-2 parent-rich">
        <span
          >Dificultades de memoria, atención, percepción, pensamiento de
          integración social, hiperactividad.</span
        >
        <div class="container-rich">
          <app-richtext
            testId="richtext_2"
            name="richtext_2"
            [value]="values['quarter-richtext_2']"
            (inputChange)="onInputChange($event)"
          />
        </div>
      </div>

      <app-saet-underlined-title></app-saet-underlined-title>
      <div class="mt-2 mb-2 parent-rich">
        <span
          >Dificultades de memoria, atención, percepción, Dificultades de
          lenguaje receptivo, expresivo, dislalias entre otros.pensamiento de
          integración social, hiperactividad.</span
        >
        <div class="container-rich">
          <app-richtext text="xxx" />
        </div>
      </div>

      <app-saet-underlined-title></app-saet-underlined-title>
      <div class="mt-2 mb-2">
        <span
          >Dificultades de lenguaje receptivo, expresivo, dislalias entre
          otros.</span
        >
        <div class="container-rich">
          <app-richtext
            testId="richtext_3"
            name="richtext_3"
            [value]="values['quarter-richtext_3']"
            (inputChange)="onInputChange($event)"
          />
        </div>
      </div>
    </app-tabs>
  </div>
  <div class="mt-2">
    <app-tabs legend="3. Etapas del proceso: fortalezas y limitantes">
      <app-saet-underlined-title> Caracterización </app-saet-underlined-title>

      <div class="mt-2 mb-2">
        <span>Fortalezas</span>
        <div class="container-rich">
          <app-richtext
            testId="richtext_4"
            name="richtext_4"
            [value]="values['quarter-richtext_4']"
            (inputChange)="onInputChange($event)"
          />
        </div>
      </div>
      <div class="mt-2 mb-2">
        <span>Limitantes</span>
        <div class="container-rich">
          <app-richtext
            testId="richtext_5"
            name="richtext_5"
            [value]="values['richtext_5']"
            (inputChange)="onInputChange($event)"
          />
        </div>
      </div>
      <!-- ###################################### -->
      <div class="mt-2">
        <app-saet-underlined-title>
          Evaluación psicopedagógica
        </app-saet-underlined-title>
      </div>
      <div class="mt-2 mb-2">
        <span>Fortalezas</span>
        <div class="container-rich">
          <app-richtext
            testId="richtext_6"
            name="richtext_6"
            [value]="values['richtext_6']"
            (inputChange)="onInputChange($event)"
          />
        </div>
      </div>

      <div class="mt-2 mb-2">
        <span>Limitantes</span>
        <div class="container-rich">
          <app-richtext
            testId="richtext_7"
            name="richtext_7"
            [value]="values['richtext_7']"
            (inputChange)="onInputChange($event)"
          />
        </div>
      </div>
      <!-- ###################################### -->
      <div class="mt-2">
        <app-saet-underlined-title>
          Análisis de resultados de la evaluación
        </app-saet-underlined-title>
      </div>

      <div class="mt-2 mb-2">
        <span>Fortalezas</span>
        <div class="container-rich">
          <app-richtext
            testId="richtext_8"
            name="richtext_8"
            [value]="values['richtext_8']"
            (inputChange)="onInputChange($event)"
          />
        </div>
      </div>

      <div class="mt-2 mb-2">
        <span>Limitantes</span>
        <div class="container-rich">
          <app-richtext
            testId="richtext_9"
            name="richtext_9"
            [value]="values['richtext_9']"
            (inputChange)="onInputChange($event)"
          />
        </div>
      </div>
      <!-- ###################################### -->
      <div class="mt-2">
        <app-saet-underlined-title>
          Elaboración del PAEI
        </app-saet-underlined-title>
      </div>

      <div class="mt-2 mb-2">
        <span>Fortalezas</span>
        <div class="container-rich">
          <app-richtext
            testId="richtext_10"
            name="richtext_10"
            [value]="values['richtext_10']"
            (inputChange)="onInputChange($event)"
          />
        </div>
      </div>

      <div class="mt-2 mb-2">
        <span>Limitantes</span>
        <div class="container-rich">
          <app-richtext
            testId="richtext_11"
            name="richtext_11"
            [value]="values['richtext_11']"
            (inputChange)="onInputChange($event)"
          />
        </div>
      </div>
      <!-- ###################################### -->
      <div class="mt-2">
        <app-saet-underlined-title>
          Otros aspectos relevantes
        </app-saet-underlined-title>
      </div>
      <div class="mt-2 mb-2">
        <span>Otros aspectos relevantes.</span>
        <div class="container-rich">
          <app-richtext
            testId="richtext_12"
            name="richtext_12"
            [value]="values['richtext_12']"
            (inputChange)="onInputChange($event)"
          />
        </div>
      </div>
    </app-tabs>
  </div>
  <div class="actionsButton" style="margin-top: 5%">
    <app-saet-button
      (click)="salir()"
      [buttonArgs]="{
        text: 'Salir',
        buttonStyle: btnStyle.BLUE,
        buttonIcon: IconComponent.CLOSE
      }"
    />
    <div class="right-buttons">
      <app-saet-button
        (onClick)="save()"
        [buttonArgs]="{
          text: 'Guardar y continuar',
          buttonStyle: btnStyle.BLUE,
          buttonIcon: IconComponent.SAVE
        }"
      />
    </div>
  </div>
</div>

<div *ngIf="inputNIE === ''" class="form-container">
  <app-saet-button
    testId="btn-regresar"
    [customClasses]="'return-button'"
    (onClick)="btnRegresar()"
    [buttonArgs]="{
      text: 'Regresar',
      buttonStyle: ButtonStyle.BLUE,
      buttonIcon: IconCompoment.LEFT_ARROW
    }"
  />
</div>
