<div class="titlePage">
  <h2>Buscar estudiante</h2>
  <div>
    <ng-container *ngFor="let item of breadcrumb; let isLast = last">
      <a *ngIf="item.href !== ''" [href]="item.href">{{ item.text }}</a>
      <span style="color: #00498D" *ngIf="item.href === ''" >{{ item.text }}</span>
      <span *ngIf="!isLast"> / </span>
    </ng-container>
    <!--

    <a href="#/menu/saet-buscar">Buscar estudiante</a>
    <span *ngIf="nie !== ''">
      /
      <a href="#/menu/saet-buscar/{{nie}}">{{nie}}</a>
      /
      <a href="#/menu/saet-datos-estudiante/{{nie}}}">Datos generales</a>
    </span>

    -->
  </div>
</div>
<div class="form-container">
  <app-saet-student-name-header
    [name]="nombreCompleto"
  />
</div>
<div class="form-container">
  <app-saet-tab-buttons>
    <a
      *ngFor="let tab of tabMenu"
      type="button"
      class="p-button p-component tabButton"
      [ngClass]="{'tabSeletectedButton': isSelected(tab.name), 'global-header-read-only': tab.readOnly}"
      [href]="tab.readOnly ? null : tab.url"
      (click)="handleClick($event, tab.url, tab.readOnly)"
    >
      {{ tab.text }}
    </a>
  </app-saet-tab-buttons>
</div>
