.titlePage {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  margin: 2% auto 0;
  margin-bottom: 1%;
  font-weight: bold;
}

.divInforme {
  width: 100%;
  margin-top: 2%;
}
.divInforme h3 {
  font-size: 28px;
}
.divInforme a {
  text-decoration: none;
}
.barra-colores {
  display: flex;
  height: 5px;
}

.barra-colores div {
  flex: 1;
}

.barra-colores div:nth-child(1) {
  background-color: #8cc63f;
}

.barra-colores div:nth-child(2) {
  background-color: #f1c40f;
}

.barra-colores div:nth-child(3) {
  background-color: #be2857;
}
.barra-colores div:nth-child(4) {
  background-color: #29abe2;
}

.button-container {
  display: flex;
  gap: 10px;
  border-radius: 0px;
}



.margin-top {
  margin-top: 2%;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 90%;
  margin: 3% auto 0;
  margin-top: 1%;
}



.global-header-read-only {
  background: gray;
  color: lightgray;
}
.hightlight-header-text-menu{
  background: #00498d;
  color:white !important;
  padding-left: 6px;
  padding-right: 6px;
}
.titlePage h2 {
  padding-top: 20px;
}

@media screen and (max-width: 500px) {
  .form-container a {
    padding: 0px 0px 0px 70px;
  }
}
