<div class="titlePage">
  <h2>Buscar estudiante</h2>
  <div>
    <a href="/menu/saet-buscar">Buscar estudiante</a>
    <span *ngIf="nie !== ''">
      /
      <a href="/menu/saet-buscar">{{nie}}</a>
      /
      <a href="#">Datos generales</a>
    </span>
  </div>
</div>
<div class="form-container">
  <app-saet-student-name-header
    [name]="nombreCompleto"
  />
</div>
<!--<div class="form-container">-->
<!--  <div class="button-container">-->
<!--    <a-->
<!--      *ngFor="let tab of tabMenu"-->
<!--      type="button"-->
<!--      class="p-button p-component tabButton"-->
<!--      [ngClass]="{'tabSeletectedButton': isSelected(tab.name)}"-->
<!--      [href]="tab.url"-->
<!--    >-->
<!--      {{ tab.text }}-->
<!--    </a>-->
<!--  </div>-->
<!--</div>-->
<div class="form-container">
  <app-saet-tab-buttons>
    <a
      *ngFor="let tab of tabMenu"
      type="button"
      class="p-button p-component tabButton"
      [ngClass]="{'tabSeletectedButton': isSelected(tab.name)}"
      [href]="tab.url"
    >
      {{ tab.text }}
    </a>
  </app-saet-tab-buttons>
</div>
