<app-saet-global-header
  [nie]="nie"
  [nombreCompleto]="studentInfo?.nombreCompleto ?? ''"
  selectedTab="planDeAccion"
  [readOnlyEvaluaciones]="false"
  [readOnlyPaei]="false"
  [module]="SAET_MODULE.DAI"
  [breadcrumb]="[
    { href: '#/menu/saet-inicio', text: 'Inicio' },
    { href: '#/menu/saet-buscar', text: 'Buscar estudiante' },
    { href: '#/menu/saet-buscar/' + nie, text: nie },
    {
      href: '#/menu/dai/saet-datos-estudiante/' + nie,
      text: 'DAI'
    },
    {
      href: '#/menu/dai/saet-plan-accion/' + nie,
      text: 'Plan de accion'
    },
    { href: '', text: 'Acciones y referencias' }
  ]"
/>
<app-saet-loading [isLoading]="pageLoading" />
<app-saet-confirm
  acceptButtonText="Continuar editando"
  cancelButtonText="Salir sin guardar"
  title="¡Estás a punto de salir del modo de edición!"
  (onAccept)="acceptConfirmDialog()"
  (onReject)="rejectConfirmDialog()"
  [acceptIcon]="iconCompoment.SAVE"
  [rejectIcon]="iconCompoment.CLOSE"
/>
<app-saet-loading [isLoading]="pageLoading" />
<app-saet-confirm
  acceptButtonText="Continuar editando"
  cancelButtonText="Salir sin guardar"
  title="¡Estás a punto de salir del modo de edición!"
  (onAccept)="acceptConfirmDialog()"
  (onReject)="rejectConfirmDialog()"
  [acceptIcon]="iconCompoment.SAVE"
  [rejectIcon]="iconCompoment.CLOSE"
/>
<div class="form-container">
  <app-saet-tab leyend="Plan de acción">
    <p-tabView (onChange)="onTabChange($event)">
      <p-tabPanel header="Acciones">
        <div>
          <app-tab-item
            marginTop="3%"
            label="Especialista responsable de agendar"
          >
            <app-saet-input
              [disabled]="true"
              [value]="especialistaAgendado.nombreCompleto"
            />
            <div>
              <app-tab-item label="">
                {{ especialistaAgendado.dui }} | Docente
              </app-tab-item>
            </div>
          </app-tab-item>
        </div>

        <div>
          <div
            style="
              display: flex;
              justify-content: space-between;
              align-items: flex-end;
              margin-top: 3%;
            "
          >
            <div></div>
            <div class="right-buttons">
              <app-saet-button
                (onClick)="iniciar()"
                [buttonArgs]="{
                  buttonIcon:
                    planAccionId === null ? buttonIcon.PLUS : buttonIcon.EYE,
                  buttonStyle: buttonStyle.BLUE,
                  text:
                    planAccionId === null ? 'Reportar acciones' : 'Ver Acciones'
                }"
              />
            </div>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Realizar referencia">
        <app-saet-mensaje-usuario
          [show]="userMessage.showMessage"
          [message]="userMessage.message"
          [title]="userMessage.titleMessage"
          [messageType]="userMessage.type"
        />
        <div *ngIf="readonlyForm">
          <app-tab-item label="DAI responsable de realizar referencia:">
            <app-saet-input value="Pablo Jose Modales" [disabled]="true" />
            050350968-8 | Docente de Apoyo a la Inclusión
          </app-tab-item>
        </div>
        <app-tab-item label="Selecionar departamento">
          <p-dropdown
            [options]="departamentosModulo"
            id="departamento-modulo"
            optionLabel="value"
            placeholder="Departamento a referir"
            optionValue="code"
            class="w-full"
            style="width: 100%"
            [ngModel]="referenciaForm.departamento"
            [disabled]="readonlyForm"
            (onChange)="onDepartamentoChange($event)"
          />
        </app-tab-item>
        <app-tab-item label="Servicio de apoyo:">
          <app-saet-input
            [value]="referenciaForm.servicioApoyo"
            testId="txt-servicio-apoyo"
            [disabled]="readonlyForm"
            (inputChange)="onServicioApoyoChange($event)"
          />
        </app-tab-item>

        <app-tab-item label="Personal de ejecución:">
          <app-saet-input
            [value]="referenciaForm.personalEjecucion"
            testId="txt-personal-ejecucion"
            [disabled]="readonlyForm"
            (inputChange)="onPersonalEjecucionChange($event)"
          />
        </app-tab-item>

        <app-tab-item label="Referencia externa">
          <app-saet-input
            [value]="referenciaForm.referenciaExterna"
            testId="input-referencia"
            [disabled]="readonlyForm"
            (inputChange)="onReferenciaExternaChange($event)"
          />
        </app-tab-item>

        <app-tab-item label="Motivo de referencia">
          <app-saet-text-area
            testId="textarea"
            [value]="referenciaForm.motivoReferencia"
            (inputChange)="onMotivoReferenciaChange($event)"
            [disabled]="readonlyForm"
          />
        </app-tab-item>
        <div *ngIf="!readonlyForm">
          <app-saet-button
            testId="btn-guardar-referencia"
            [buttonArgs]="{
              text: 'Guardar',
              buttonStyle: btnStyle.WHITE,
              buttonIcon: iconCompoment.PLUS
            }"
            (onClick)="saveReferencia()"
          />
        </div>
      </p-tabPanel>
    </p-tabView>
  </app-saet-tab>
</div>
