<app-saet-global-header
  [nie]="nie"
  [nombreCompleto]="studentInfo?.nombreCompleto ?? ''"
  selectedTab="planDeAccion"
  [readOnlyEvaluaciones]="false"
  [readOnlyPaei]="false"
  [module]="SAET_MODULE.DAI"
  [breadcrumb]="[
    { href: '#/menu/saet-inicio', text: 'Inicio' },
    { href: '#/menu/saet-buscar', text: 'Buscar estudiante' },
    { href: '#/menu/saet-buscar/' + nie, text: nie },
    {
      href: '#/menu/dai/saet-datos-estudiante/' + nie,
      text: 'DAI'
    },
    {
      href: '#/menu/dai/saet-plan-accion/' + nie,
      text: 'Plan de accion'
    },
    { href: '', text: 'Edición' }
  ]"
/>
<app-saet-loading [isLoading]="pageLoading" />
<app-saet-confirm
  acceptButtonText="Continuar editando"
  cancelButtonText="Salir sin guardar"
  title="¡Estás a punto de salir del modo de edición!"
  (onAccept)="acceptConfirmDialog()"
  (onReject)="rejectConfirmDialog()"
  [acceptIcon]="iconCompoment.SAVE"
  [rejectIcon]="iconCompoment.CLOSE"
/>
<app-saet-loading [isLoading]="pageLoading" />
<app-saet-confirm
  acceptButtonText="Continuar editando"
  cancelButtonText="Salir sin guardar"
  title="¡Estás a punto de salir del modo de edición!"
  (onAccept)="acceptConfirmDialog()"
  (onReject)="rejectConfirmDialog()"
  [acceptIcon]="iconCompoment.SAVE"
  [rejectIcon]="iconCompoment.CLOSE"
/>
<div class="form-container">
  <app-saet-tab leyend="Plan de acción">
    <p-tabView>
      <p-tabPanel header="Acciones">
        <div>
          <app-tab-item
            marginTop="3%"
            label="Especialista responsable de agendar"
          >
            <app-saet-input
              [disabled]="true"
              [value]="especialistaAgendado.nombreCompleto"
            />
            <div>
              <app-tab-item label="">
                {{ especialistaAgendado.dui }} | Docente
              </app-tab-item>
            </div>
          </app-tab-item>
        </div>

        <div>
          <div
            style="
              display: flex;
              justify-content: space-between;
              align-items: flex-end;
              margin-top: 3%;
            "
          >
            <div></div>
            <div class="right-buttons">
              <app-saet-button
                (onClick)="iniciar()"
                [buttonArgs]="{
                  buttonIcon: buttonIcon.PLUS,
                  buttonStyle: buttonStyle.BLUE,
                  text: 'Reportar acciones'
                }"
              />
            </div>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Realizar referencia">
        <app-tab-item label="Selecionar departamento">
          <p-dropdown
            [options]="cities"
            id="departamento-global"
            optionLabel="nombre_departamento"
            placeholder="Selecciona departamento"
            optionValue="codigo_departamento"
            class="w-full"
            style="width: 100%"
          />
        </app-tab-item>
        <app-tab-item label="Servicio de apoyo:">
          <app-saet-input testId="input-nie" [disabled]="true" />
        </app-tab-item>

        <app-tab-item label="Personal de ejecución:">
          <app-saet-input testId="input-nie" />
        </app-tab-item>

        <app-tab-item label="Referencia externa">
          <app-saet-input testId="input-referencia" [disabled]="true" />
        </app-tab-item>

        <app-tab-item label="Motivo de referencia">
          <app-saet-text-area testId="textarea" />
        </app-tab-item>

        <app-saet-button
          testId="btn-guardar-referencia"
          [buttonArgs]="{
            text: 'Guardar',
            buttonStyle: btnStyle.WHITE,
            buttonIcon: iconCompoment.PLUS
          }"
        />
      </p-tabPanel>
    </p-tabView>
  </app-saet-tab>
</div>
