<p-confirmDialog #cd>
  <ng-template pTemplate="header">
    <h3 data-testId="h-header-modal">{{ title }}</h3>
  </ng-template>

  <ng-template pTemplate="footer">
    <app-saet-button
      testId="btnReject"
      [buttonArgs]="{
        text: cancelButtonText,
        buttonStyle: btnStyle.BLUE,
        buttonIcon: rejectIcon
      }"
      (onClick)="reject()"
    >
    </app-saet-button>
    <app-saet-button
      testId="btnAccept"
      [buttonArgs]="{
        text: acceptButtonText,
        buttonStyle: btnStyle.BLUE,
        buttonIcon: acceptIcon
      }"
      (onClick)="accept()"
    >
    </app-saet-button>
  </ng-template>
</p-confirmDialog>
