<app-saet-global-header
  [nie]="nie"
  [nombreCompleto]="studentInfo?.nombreCompleto ?? ''"
  selectedTab="evaluaciones"
  [breadcrumb]="[
    { href: '#/menu/saet-buscar', text: 'Buscar estudiante' },
    { href: '#/menu/saet-buscar/'+nie, text: nie },
    { href: '', text: 'Evaluaciones' }
  ]"

/>
<app-saet-mensaje-usuario
  [show]="userMessage.showMessage"
  [message]="userMessage.message"
  [title]="userMessage.titleMessage"
/>

<div class="form-container">
  <div class="margin-top " style="width: 100%">
    <app-saet-tab-agenda (onAgendar)="agendarPsicologia()"
                         (onCancelar)="cancelarPsicologia()"
                         [agendado]="psicologiaAgendada"
                         (onIniciar)="iniciarPsicologia()"
                         leyend="Evaluación psicologica"
    />
    <div class="margin-top">
      <app-saet-tab-agenda (onAgendar)="agendarPedagogia()"
                           (onCancelar)="cancelarPedagogia()"
                           [agendado]="pedagogiaAgendada"
                           (onIniciar)="iniciarPedagogia()"
                           [readOnly]="readOnlyTab"
                           leyend="Evaluación pedagogica"
      />
    </div>
    <div class="margin-top">
      <app-saet-tab-agenda (onAgendar)="agendarLenguaje()"
                           (onCancelar)="cancelarLenguaje()"
                           [agendado]="lenguajeHablaAgendada"
                           (onIniciar)="iniciarLenguajeHabla()"
                           [readOnly]="readOnlyTab"
                           leyend="Evaluación Habla y lenguaje"
                           />
    </div>

  </div>
</div>

