<app-saet-global-header
  [nie]="nie"
  [nombreCompleto]="studentInfo?.nombreCompleto ?? ''"
  selectedTab="evaluaciones"
  [readOnlyEvaluaciones]="readOnlyEvaluaciones"
  [readOnlyPaei]="readOnlyPaei"
  [breadcrumb]="[
    { href: '#/menu/saet-buscar', text: 'Buscar estudiante' },
    { href: '#/menu/saet-buscar/' + nie, text: nie },
    { href: '', text: 'Evaluaciones' }
  ]"
/>
<app-saet-loading [isLoading]="pageLoading" />
<div class="form-container">
  <app-saet-mensaje-usuario
    [show]="userMessage.showMessage"
    [message]="userMessage.message"
    [title]="userMessage.titleMessage"
    [messageType]="userMessage.type"
  />
  <div class="margin-top" style="width: 100%">
    <div
      *ngFor="let tab of agendaTabs; let i = index"
      [class.margin-top]="i !== 0"
      style="width: 100%"
    >
      <app-saet-tab-agenda
        (onAgendar)="tab.onAgendar($event)"
        [especialidad]="tab.especialidad"
        (onCancelarAgenda)="tab.onCancelarAgenda($event)"
        [agendado]="tab.agendado"
        (onIniciar)="tab.onIniciar()"
        [readOnly]="tab.readOnly"
        [leyend]="tab.leyend"
        [agendaId]="tab.agendaId"
        [especialistaAgendado]="tab.especialistaAgendado"
        [tipoEvaluacion]="tab.tipoEvaluacion"
        [evaluationId]="tab.evaluationId"
        (onMessage)="onMessage($event)"
      />
    </div>
  </div>
</div>
