<app-saet-global-header
  [nie]="nie"
  [nombreCompleto]="studentInfo?.nombreCompleto ?? ''"
  selectedTab="Caracterizacion"
/>
<app-saet-mensaje-usuario
  [show]="userMessage.showMessage"
  [message]="userMessage.message"
  [title]="userMessage.titleMessage"
/>
<div class="form-container">
  <ng-container *ngFor="let corSurvey of corSurveys" >
    <div style="margin-top: 5%">
      <app-tabs
        [legend]="corSurvey.titulo"
      >
        <ng-container *ngFor="let pregunta of corSurvey.preguntas">
          <app-tab-item
            [label]="pregunta.pregunta"
          >
            <app-saet-question
              (onChange)="onchange($event)"
              (checkboxChange)="onCheckboxChange($event)"
              [type]="getQuestionType(pregunta.tipoPregunta)"
              [value]="values[pregunta.id_pregunta.toString()]"
              [idPregunta]="pregunta.id_pregunta"
              [testId]="pregunta.id_pregunta.toString()"
                               [name]="getName(pregunta.pregunta)"
                               [options]="getOptions(pregunta.opcion)" />
          </app-tab-item>
        </ng-container>
      </app-tabs>
    </div>
  </ng-container>
  <app-saet-button
    (onClick)="save()"
    [buttonArgs]="{text: 'Guardar',buttonStyle: 0 }" />
</div>


