<app-saet-global-header
  [nie]="nie"
  [nombreCompleto]="studentInfo?.nombreCompleto ?? ''"
  selectedTab="Caracterizacion"
/>
<app-saet-mensaje-usuario
  [show]="userMessage.showMessage"
  [message]="userMessage.message"
  [title]="userMessage.titleMessage"
/>
<div class="form-container">
  <div class="margin-top">
    <app-tabs [label]="generalInformation.labels"
              [legend]="generalInformation.legend"
              [value]="generalInformation.values"
              [isActive]="generalInformation.isActive"
    ></app-tabs>
  </div>
  <div class="margin-top">
    <app-tabs [label]="institutionalInfo.labels"
              [legend]="institutionalInfo.legend"
              [value]="institutionalInfo.values"
              [isActive]="institutionalInfo.isActive"
    ></app-tabs>
  </div>

  <ng-container *ngFor="let corSurvey of corSurveys" >
    <div style="margin-top: 5%">
      <app-tabs
        [legend]="corSurvey.titulo"
      >
        <ng-container *ngFor="let pregunta of corSurvey.preguntas">
          <app-tab-item
            [label]="pregunta.pregunta"
          >
            <app-saet-question [type]="getQuestionType(pregunta.tipoPregunta)"
                               [name]="getName(pregunta.pregunta)"
                               [options]="getOptions(pregunta.opcion)" />
          </app-tab-item>
        </ng-container>
      </app-tabs>
    </div>
  </ng-container>
  <app-saet-button
    (onClick)="save()"
    [buttonArgs]="{text: 'Guardar',buttonStyle: 0 }" />
</div>


