<app-saet-loading [isLoading]="pageLoading" />
<app-saet-global-header
  [nie]="nie"
  [nombreCompleto]="studentInfo?.nombreCompleto ?? ''"
  selectedTab=""
  [readOnlyEvaluaciones]="readOnlyEvaluaciones"
  [readOnlyPaei]="readOnlyPaei"
/>
<app-saet-mensaje-usuario
  [show]="userMessage.showMessage"
  [message]="userMessage.message"
  [title]="userMessage.titleMessage"
/>
<div class="form-container">
  <ng-container *ngFor="let corSurvey of corSurveys">
    <div style="margin-top: 5%">
      <app-tabs [legend]="corSurvey.titulo">
        <ng-container *ngFor="let pregunta of corSurvey.preguntas">
          <app-tab-item [label]="pregunta.pregunta">
            <app-saet-question
              (onChange)="onchangeQuestions($event)"
              [type]="getQuestionType(pregunta.tipoPregunta)"
              [idPregunta]="pregunta.id_pregunta"
              [value]="values[pregunta.id_pregunta.toString()]"
              [testId]="pregunta.id_pregunta.toString()"
              [name]="getName(pregunta.pregunta)"
              [options]="getOptions(pregunta.opcion)"
            />
          </app-tab-item>
        </ng-container>
      </app-tabs>
    </div>
  </ng-container>
  <div *ngIf="showActionButtons" style="margin-top: 30px">
    <div *ngIf="formMode === formModeEnum.CREATE" class="actionsButton">
      <app-saet-button
        (onClick)="salir()"
        [buttonArgs]="{ text: 'Salir', buttonStyle: 1, buttonIcon: 6 }"
      />

      <app-saet-button
        (onClick)="save()"
        [buttonArgs]="{ text: 'Guardar', buttonStyle: 1 }"
      />
    </div>
    <div *ngIf="formMode === formModeEnum.EDIT" class="actionsButton">
      <app-saet-button
        (onClick)="salirEditMode()"
        [buttonArgs]="{ text: 'Salir', buttonStyle: 1, buttonIcon: 6 }"
      />

      <app-saet-button
        (onClick)="save()"
        [buttonArgs]="{ text: 'Actualizar registro', buttonStyle: 1 }"
      />
    </div>
    <div *ngIf="formMode === formModeEnum.VIEW" class="actionsButton">
      <app-saet-button
        (click)="salir()"
        [buttonArgs]="{
          text: 'Regresar a la caracterización',
          buttonStyle: 1,
          buttonIcon: 7
        }"
      />
      <div class="right-buttons">
        <app-saet-button
          (onClick)="entrarEditMode()"
          [buttonArgs]="{ text: 'Editar', buttonStyle: 1 }"
        />
        <app-saet-button
          [buttonArgs]="{ text: 'Generar PDF', buttonStyle: 1 }"
        />
      </div>
    </div>
  </div>
</div>
