<div #topAnchor style="height: 1px"></div>
<app-saet-global-header
  [nie]="nie"
  [nombreCompleto]="studentInfo?.nombreCompleto ?? ''"
  selectedTab="Caracterizacion"
  [readOnlyEvaluaciones]="false"
  [readOnlyPaei]="false"
  [module]="SAET_MODULE.DAI"
  [breadcrumb]="[
    { href: '#/menu/saet-inicio', text: 'Inicio' },
    { href: '#/menu/saet-buscar', text: 'Buscar estudiante' },
    { href: '#/menu/saet-buscar/' + nie, text: nie },
    {
      href: '#/menu/dai/saet-datos-estudiante/' + nie,
      text: 'DAI'
    },
    {
      href: '#/menu/dai/saet-caracterizacion-estudiante/' + nie,
      text: 'Caracterización'
    },
    { href: '', text: 'Edición' }
  ]"
/>
<app-saet-loading [isLoading]="pageLoading" [message]="loadingMessage" />
<app-saet-confirm
  acceptButtonText="Continuar editando"
  cancelButtonText="Salir sin guardar"
  title="¡Estás a punto de salir del modo de edición!"
  (onAccept)="acceptConfirmDialog()"
  (onReject)="rejectConfirmDialog()"
  [acceptIcon]="iconCompoment.SAVE"
  [rejectIcon]="iconCompoment.CLOSE"
/>
<div class="form-container">
  <app-saet-mensaje-usuario
    [show]="userMessage.showMessage"
    [message]="userMessage.message"
    [title]="userMessage.titleMessage"
    [messageType]="userMessage.type"
  />
  <ng-container *ngFor="let corSurvey of corSurveys">
    <div style="margin-top: 5%">
      <app-tabs [legend]="corSurvey.titulo">
        <ng-container *ngFor="let pregunta of corSurvey.preguntas">
          <app-tab-item marginTop="3%" [label]="pregunta.pregunta">
            <app-saet-question
              (onChange)="onchange($event)"
              [type]="getQuestionType(pregunta.tipoPregunta)"
              [idPregunta]="pregunta.id_pregunta"
              [value]="values[pregunta.id_pregunta.toString()]"
              (textAreaChange)="onTextAreaChange($event)"
              [storedValues]="storedValues"
              [values]="values"
              [testId]="pregunta.id_pregunta.toString()"
              [name]="getName(pregunta.pregunta)"
              [options]="getOptions(pregunta.opcion)"
              (checkboxChange)="onCheckboxChange($event)"
              [readonly]="formMode === formModeEnum.VIEW"
            />
          </app-tab-item>
        </ng-container>
      </app-tabs>
    </div>
  </ng-container>
  <app-saet-mensaje-usuario
    [show]="userMessage.showMessage"
    [message]="userMessage.message"
    [title]="userMessage.titleMessage"
    [messageType]="userMessage.type"
  />
  <div style="margin-top: 20px">
    <div *ngIf="formMode === formModeEnum.CREATE" class="actionsButton">
      <app-saet-button
        (onClick)="salir()"
        testId="btn-salir"
        [buttonArgs]="{
          text: 'Salir',
          buttonStyle: btnStyle.BLUE,
          buttonIcon: iconCompoment.CLOSE
        }"
      />
      <div class="right-buttons">
        <app-saet-button
          (onClick)="save()"
          testId="btn-guardar"
          [buttonArgs]="{
            text:
              caracterizacion !== undefined &&
              caracterizacion?.id_caracterizacion !== undefined &&
              caracterizacion?.id_caracterizacion !== 0
                ? 'Actualizar'
                : 'Guardar',
            buttonStyle: btnStyle.BLUE,
            buttonIcon: iconCompoment.SAVE
          }"
        />

        <div
          *ngIf="
            caracterizacion !== undefined &&
            caracterizacion?.id_caracterizacion !== undefined &&
            caracterizacion?.id_caracterizacion !== 0
          "
        >
          <app-saet-button
            (onClick)="generatePDF()"
            [buttonArgs]="{
              text: 'Generar PDF',
              buttonStyle: btnStyle.BLUE,
              buttonIcon: iconCompoment.PRINTER
            }"
          />
        </div>
      </div>
    </div>
    <div *ngIf="formMode === formModeEnum.EDIT" class="actionsButton">
      <div style="width: 300px">
        <app-saet-button
          (onClick)="salirEditMode()"
          [buttonArgs]="{
            text: 'Salir modo edición',
            buttonStyle: btnStyle.BLUE,
            buttonIcon: iconCompoment.LEFT_ARROW
          }"
          customClasses="w-full"
        />
      </div>

      <div class="right-buttons">
        <app-saet-button
          (onClick)="update()"
          [buttonArgs]="{
            text: 'Actualizar',
            buttonStyle: btnStyle.BLUE,
            buttonIcon: iconCompoment.EDIT
          }"
        />
        <app-saet-button
          (onClick)="generatePDF()"
          [buttonArgs]="{
            text: 'Generar PDF',
            buttonStyle: btnStyle.BLUE,
            buttonIcon: iconCompoment.PRINTER
          }"
        />
      </div>
    </div>

    <div *ngIf="formMode === formModeEnum.VIEW" class="actionsButton">
      <app-saet-button
        (click)="salirViewMode()"
        [buttonArgs]="{
          text: 'Regresar a datos generales',
          buttonStyle: btnStyle.BLUE,
          buttonIcon: iconCompoment.LEFT_ARROW
        }"
      />

      <div class="right-buttons">
        <app-saet-button
          (onClick)="entrarEditMode()"
          [buttonArgs]="{ text: 'Editar', buttonStyle: ButtonStyle.BLUE }"
        />
        <app-saet-button
          (onClick)="generatePDF()"
          [buttonArgs]="{ text: 'Generar PDF', buttonStyle: ButtonStyle.BLUE }"
        />
      </div>
    </div>
  </div>
</div>
<button
  class="scroll-up-btn"
  (click)="scrollToTop()"
  pButton
  icon="pi pi-arrow-up"
  label=""
></button>
<button
  class="scroll-bottom-btn"
  (click)="scrollToBottom()"
  pButton
  icon="pi pi-arrow-down"
  label=""
></button>
<div #bottomAnchor style="height: 1px"></div>
