<div style="display: flex; flex-direction: column; height: 100vh">
  <div
    style="
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: white;
      z-index: 100;
    "
  >
    <p>
      <mat-toolbar color="primary" mat-mini-toolbar class="main-toolbar">
        <span class="app-title toolbar-item">
          <img src="assets/logo-sistema.png" alt="Ícono" />
        </span>

        <span class="app-title toolbar-item" style="margin-left: 78%">
          <img src="assets/logo-mined-w.png" alt="Ícono" />
        </span>
      </mat-toolbar>
    </p>

    <div style="display: flex; margin-top: -12px">
      <div style="background-color: #8cc63f; width: 25%; height: 5px"></div>
      <div style="background-color: #f1c40f; width: 25%; height: 5px"></div>
      <div style="background-color: #be2857; width: 25%; height: 5px"></div>
      <div style="background-color: #29abe2; width: 25%; height: 5px"></div>
    </div>

    <div class="welcome-message">
      <span class="welcome-message">
        Hola, bienvenido(a): <strong>{{ nombre_usuario }}</strong>
      </span>

      <button mat-button class="logout-button" (click)="cerrarSesion()">
        <mat-icon>exit_to_app</mat-icon>
        <span class="button-text">Cerrar sesión</span>
        <span class="button-background"></span>
      </button>
    </div>

    <div class="large-screen">
      <p>
        <span class="large-screen">
          <strong
          >Sistema de Apoyo Territoriales Para La Inclusión Educativa</strong>
        </span>
      </p>
    </div>

    <div class="row filaModulos">
      <div class="modulo-container">

        <div class="modulo moduloAmarillo" >
          <a href="#" >
            <img src="assets/iconoHistorial.svg" alt="Catálogos" />
            <p class="nombreModulo">Informe trimestral</p>
          </a>
        </div>

        <div class="modulo moduloAmarillo" >
          <a href="#/menu/saet-buscar" >
            <img src="assets/icono_leginm.svg" alt="Catálogos" />
            <p class="nombreModulo">COR / DAI</p>
          </a>
        </div>

        <div class="modulo moduloAmarillo" >
          <a href="#/menu/dei/informe-cualitativo" >
            <img src="assets/estadisticas.svg" alt="Catálogos" />
            <p class="nombreModulo">DEI</p>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
