<ng-container *ngIf="type === QuestionType.ABIERTA_CON_FORMATO">
  <app-richtext
    (inputChange)="onInputChange($event)"
    [value]="values['textarea_' + idPregunta.toString()]"
    [name]="'textarea_' + idPregunta.toString()"
  />
</ng-container>
<ng-container *ngIf="type === QuestionType.ABIERTA">
  <div style="margin-top: -20px">
    <app-saet-input
      [testId]="'input_' + idPregunta.toString()"
      (inputChange)="onInputChange($event)"
      [value]="values['input_' + idPregunta.toString()]"
      [disabled]="readonly"
      [name]="'input_' + idPregunta.toString()"
      [inputArgs]="abiertaComponentArgs"
    />
  </div>
</ng-container>
<ng-container *ngIf="type === QuestionType.MULTIPLE_CON_RESPUESTA">
  MULTIPLE_CON_RESPUESTA
</ng-container>
<ng-container *ngIf="type === QuestionType.OPCION_UNICA_CON_RESPUESTA">
  <div style="margin-top: -20px">
    <div style="margin-bottom: 20px">
      <app-saet-radio
        [name]="'radio_' + idPregunta.toString()"
        [selectedValue]="values['radio_' + idPregunta.toString()]"
        [options]="options"
        [disabled]="readonly"
        (radioChange)="onInputChange($event)"
      />
    </div>
    <div style="margin-bottom: 20px">
      <app-saet-input
        [testId]="'input_' + idPregunta.toString()"
        (inputChange)="onInputChange($event)"
        [value]="values['input_' + idPregunta.toString()]"
        [disabled]="readonly"
        [name]="'input_' + idPregunta.toString()"
        [inputArgs]="abiertaComponentArgs"
      />
    </div>
  </div>
</ng-container>
<ng-container *ngIf="type === QuestionType.ABIERTA_SIN_FORMATO">
  <div class="margin-bottom">
    <textarea pInputTextarea style="width: 100%"></textarea>
  </div>
</ng-container>

<ng-container *ngIf="type === QuestionType.OPCION_UNICA">
  <div style="margin-bottom: 20px">
    <app-saet-radio
      [name]="'radio_' + idPregunta.toString()"
      [selectedValue]="values['radio_' + idPregunta.toString()]"
      [options]="options"
      [disabled]="readonly"
      (radioChange)="onInputChange($event)"
    />
  </div>
</ng-container>
<ng-container *ngIf="type === QuestionType.ABIERTA_CON_RESPUESTA_INTERNA">
  <app-saet-radio
    [name]="idPregunta.toString()"
    [selectedValue]="value"
    [options]="options"
    (radioChange)="onInputChange($event)"
  />

  <app-saet-input
    [testId]="'input_' + idPregunta.toString()"
    (inputChange)="onInputChange($event)"
    [value]="values['input_' + idPregunta.toString()]"
    [name]="'input_' + idPregunta.toString()"
    [disabled]="readonly"
    [inputArgs]="abiertaComponentArgs"
  />
</ng-container>
<ng-container *ngIf="type === QuestionType.OPCION_MULTIPLE">
  <app-saet-checkbox
    [name]="'check_' + idPregunta.toString()"
    [options]="options"
    [selectedValues]="
      values['check_' + idPregunta.toString()]
        ? values['check_' + idPregunta.toString()].split(',')
        : []
    "
    (checkboxChange)="onCheckBoxChange($event)"
    [disabled]="readonly"
  >
  </app-saet-checkbox>
</ng-container>
