<ng-container *ngIf="type === QuestionType.ABIERTA">
  <app-saet-input [inputArgs]="abiertaComponentArgs" />
</ng-container>
<ng-container *ngIf="type === QuestionType.MULTIPLE_CON_RESPUESTA">
  MULTIPLE_CON_RESPUESTA
</ng-container>
<ng-container *ngIf="type === QuestionType.OPCION_UNICA_CON_RESPUESTA">
  <app-saet-input [inputArgs]="abiertaComponentArgs" />
  <div *ngFor="let option of options">
    <label>
      <input type="radio" [name]="name" [value]="option.key"> {{ option.value }}
    </label>
  </div>
</ng-container>


<ng-container *ngIf="type === QuestionType.OPCION_UNICA">
  <div *ngFor="let option of options">
    <label>
      <input type="radio" [name]="name" [value]="option.key"> {{ option.value }}
    </label>
  </div>
</ng-container>
<ng-container *ngIf="type === QuestionType.ABIERTA_CON_RESPUESTA">
  <app-saet-input [inputArgs]="abiertaComponentArgs" />
  <div *ngFor="let option of options">
    <label>
      <input type="radio" [name]="name" [value]="option.key"> {{ option.value }}
    </label>
  </div>
</ng-container>
<ng-container *ngIf="type === QuestionType.OPCION_MULTIPLE">
  <div *ngFor="let option of options">
    <label>
      <input type="checkbox" [name]="name" [value]="option.key"> {{ option.value }}
    </label>
  </div>
</ng-container>

