<app-saet-global-header
  [nie]="nie"
  [nombreCompleto]="studentInfo?.nombreCompleto ?? ''"
  selectedTab="Caracterizacion"
/>
<app-saet-mensaje-usuario
  [show]="userMessage.showMessage"
  [message]="userMessage.message"
  [title]="userMessage.titleMessage"
/>

<div class="form-container">
  <p-fieldset legend="Caracterización"
  >
    <div
      className="margin-top"
      style="display: flex;">
      <div style="flex: 1; text-align: left; padding-right: 10px;">
        Especialista responsable de caracterización:
      </div>
      <div style="flex: 2; text-align: left;">
        <app-saet-input />
      </div>
    </div>

    <div
      className="margin-top"
      style="display: flex;">
      <div style="flex: 1; text-align: left; padding-right: 10px;">
      </div>
      <div style="flex: 2; text-align: left;">
        Especialista en psicología - COR
      </div>
    </div>

    <div
      className="margin-top"
      style="display: flex;">
      <div style="flex: 1; text-align: left; padding-right: 10px;">
      </div>
      <div style="flex: 2; text-align: right;">
        <app-saet-button
        [buttonArgs]="{buttonStyle: 0,buttonIcon: 1, text: 'Iniciar caracterización' }"
        (onClick)="goTo('/menu/saet-caracterizacion-iniciar')"
        />
      </div>
    </div>
  </p-fieldset>

</div>
