.button-container {
  display: flex;
  gap: 10px;
  border-radius: 0px;
}

.margin-top {
  margin-top: 2%;
}

.tabButton,
.tabSeletectedButton {
  border-radius: 0px;
  background: white;
  border: solid 1px #00498d;
  color: #00498d;
}

.tabSeletectedButton {
  background: #00498d;
  color: white;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 84%;
  margin: 3% auto 0;
  margin-top: 1%;
}

.titlePage {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 90%;
  margin: 3% auto 0;
  margin-bottom: 1%;
  font-weight: bold;
}

.button-container a {
  text-decoration: none;
}

@media screen and (max-width: 1920px) {
  .form-container {
    width: 77%;
    margin-left: 8%;
  }
}

@media screen and (max-width: 500px) {
  .div-container-uno {
    display: flex;
    flex-direction: column;
  }

  .div-container-dos {
    flex-direction: column;
  }

  .btn-iniciar-caracterizacion {
    padding-right: 2.5em;
    padding-top: 20px;
  }
}
