.mt-2 {
  margin-top: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 90%;
  margin: 3% auto 0;
  margin-top: 1%;
}

.divInforme {
  border-bottom: solid 1px black;
  margin-bottom: 150px;
  margin-top: 50px;
}

.divInforme a {
  text-decoration: none;
}

.titlePage {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 90%;
  margin: 3% auto 0;
  margin-bottom: 1%;
  font-weight: bold;
}

.title {
  font-weight: bold;
  margin-bottom: 5px;
}

app-saet-input {
  width: 100%;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 3%;
}

.table-container {
  margin-top: 5%;
}

app-saet-button {
  min-width: 80px;
}

.clear-text {
  cursor: pointer;
  user-select: none;
  text-decoration: underline;
  color: #00498d;
  height: 47px;
  width: 147px;
  background-color: white;
  border-style: none;
}
:host ::ng-deep .p-tabview-nav{
  padding-bottom: 1px;
}
/**/
.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 3%;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  align-items: center;
  gap: 25%;
}

label {
  flex: 0 0 150px;
  font-weight: bold;
}

input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

.report-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.report-table th,
.report-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

.report-table th {
  background-color: #f1f1f1;
}

.view-report-btn {
  padding: 8px 15px;
  background-color: white;
  border: 1px solid #007bff;
  border-radius: 5px;
  color: #007bff;
  font-weight: bold;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.view-report-btn .icon {
  font-size: 14px;
}

