<app-saet-global-header
  [nie]="nie"
  [nombreCompleto]="studentInfo?.nombreCompleto ?? ''"
  selectedTab="evaluaciones"
  [breadcrumb]="[
   { href: '#/menu/saet-buscar', text: 'Buscar estudiante' },
  { href: '#/menu/saet-buscar/'+nie, text: nie },
  { href: '#/menu/saet-datos-estudiante/'+nie, text: 'Evaluaciones' },
  { href: '', text: 'Perfil psicológico' }
  ]"
/>
<app-saet-mensaje-usuario
  [show]="userMessage.showMessage"
  [message]="userMessage.message"
  [title]="userMessage.titleMessage"
/>
<div class="form-container">
  <ng-container *ngFor="let corSurvey of corSurveys" >
    <div style="margin-top: 5%">
      <app-tabs
        [legend]="corSurvey.titulo"
      >
        <ng-container *ngFor="let pregunta of corSurvey.preguntas">
          <app-tab-item
            [label]="pregunta.pregunta ?? ''"
          >
            <app-saet-question [type]="getQuestionType(pregunta.tipoPregunta)"
                               [name]="getName(pregunta.pregunta)"
                               [options]="getOptions(pregunta.opcion)" />
          </app-tab-item>
        </ng-container>
      </app-tabs>
    </div>
  </ng-container>
</div>
