.mt-2 {
  margin-top: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 90%;
  margin: 3% auto 0;
  margin-top: 1%;
}

.divInforme {
  border-bottom: solid 1px black;
  margin-bottom: 150px;
  margin-top: 50px;
}

.divInforme a {
  text-decoration: none;
}

.titlePage {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 90%;
  margin: 3% auto 0;
  margin-bottom: 1%;
  font-weight: bold;
}

.title {
  font-weight: bold;
  margin-bottom: 5px;
}

app-saet-input {
  width: 100%;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 3%;
}

.table-container {
  margin-top: 5%;
}

app-saet-button {
  min-width: 80px;
}

.clear-text {
  cursor: pointer;
  user-select: none;
  text-decoration: underline;
  color: #00498d;
  height: 47px;
  width: 147px;
  background-color: white;
  border-style: none;
}
