<div class="form-container divInforme">
  <a href="#/menu/saet-informe">
    Informe Trimestral COR
  </a>
</div>
<div class="form-container">
  <p class="title">Escribe el NIE del estudiante.</p>
  <app-saet-input
    testId="input-nie"
    [inputArgs]="{text: inputNIE}"
    (inputChange)="onInputChange($event)" />
  <div class="button-container">
    <app-saet-button
      testId="btn-buscar"
      [buttonArgs]="searchButton" (click)="toggleTable()" />
    <span
      data-testId="btn-clean"
      class="clear-text"
      (click)="cleanInput()"
    >limpiar búsqueda</span>
  </div>
  <div *ngIf="showTable">
    <app-saet-underlined-title >
      <div style="display: flex; flex-direction: row">
        <div style="font-weight: bold; width: 300px">
          Resultado(s):
        </div>
        <div>
          {{cnResult}} elemento(s)
        </div>
      </div>
    </app-saet-underlined-title>
  </div>

  <app-saet-mensaje-usuario
    [show]="userMessage.showMessage"
    [message]="userMessage.message"
    [title]="userMessage.titleMessage"
    [messageType]="userMessage.type"
  />
  <div *ngIf="showTable" class="table-container">
    <p-table
      attr.data-testid="testId"
      data-testid="table-information"
      [columns]="flowColumns"
      [value]="flowData">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{ col.header }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr *ngFor="let row of flowData">
          <td>
            {{ row["col1"] }}
          </td>
          <td>
            {{ row["col2"] }}
          </td>
          <td>
            <app-saet-button
              (onClick)="goTo(row['href'])"
              testId="btn-ver-detalle"
              [buttonArgs]="{buttonIcon: 0,buttonStyle: 0, text: 'Ver detalle'}"></app-saet-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

</div>
